/Parte 1/Nombre_variable_mostrar/nbproject/private/
/Parte 1/Nombre_variable_mostrar/build/
/Parte 1/frase_minuscula_mayuscula/nbproject/private/
/Parte 1/frase_minuscula_mayuscula/build/
/Parte 1/Transfomar_centrigrados_fahrenheit/nbproject/private/
/Parte 1/Transfomar_centrigrados_fahrenheit/build/
/Parte 1/entero_doble_triple_cuadrado/nbproject/private/
/Parte 1/entero_doble_triple_cuadrado/build/