/Parte 1/Nombre_variable_mostrar/nbproject/private/
/Parte 1/Nombre_variable_mostrar/build/
/Parte 1/frase_minuscula_mayuscula/nbproject/private/
/Parte 1/frase_minuscula_mayuscula/build/
/Parte 1/Transfomar_centrigrados_fahrenheit/nbproject/private/
/Parte 1/Transfomar_centrigrados_fahrenheit/build/
/Parte 1/entero_doble_triple_cuadrado/nbproject/private/
/Parte 1/entero_doble_triple_cuadrado/build/
/Parte 2/Par_o_impar/nbproject/private/
/Parte 2/Par_o_impar/build/
/Parte 2/frase_eureka/nbproject/private/
/Parte 2/frase_eureka/build/
/Parte 2/frase_8_largo/nbproject/private/
/Parte 2/frase_8_largo/build/
/Parte 2/frase_comienza_con_a/nbproject/private/
/Parte 2/frase_comienza_con_a/build/
/Parte 3 bucles/Valor_limite_positivo/nbproject/private/
/Parte 3 bucles/Valor_limite_positivo/build/
/Parte 3 bucles/Calculadora_menu/nbproject/private/
/Parte 3 bucles/Calculadora_menu/build/
/Parte 3 bucles/Calculadora_menu/dist/
/Parte 3 bucles/dispositivo_RS232/nbproject/private/
/Parte 3 bucles/dispositivo_RS232/build/
/Parte 3 bucles/test/nbproject/private/
/Parte 3 bucles/test/build/
/Parte 3 bucles/Cuadrado_N_numeros/nbproject/private/
/Parte 3 bucles/Cuadrado_N_numeros/build/