/Parte 1/Nombre_variable_mostrar/nbproject/private/
/Parte 1/Nombre_variable_mostrar/build/
/Parte 1/frase_minuscula_mayuscula/nbproject/private/
/Parte 1/frase_minuscula_mayuscula/build/
/Parte 1/Transfomar_centrigrados_fahrenheit/nbproject/private/
/Parte 1/Transfomar_centrigrados_fahrenheit/build/
/Parte 1/entero_doble_triple_cuadrado/nbproject/private/
/Parte 1/entero_doble_triple_cuadrado/build/
/Parte 2/Par_o_impar/nbproject/private/
/Parte 2/Par_o_impar/build/
/Parte 2/frase_eureka/nbproject/private/
/Parte 2/frase_eureka/build/
/Parte 2/frase_8_largo/nbproject/private/
/Parte 2/frase_8_largo/build/
/Parte 2/frase_comienza_con_a/nbproject/private/
/Parte 2/frase_comienza_con_a/build/
/Parte 3 bucles/Valor_limite_positivo/nbproject/private/
/Parte 3 bucles/Valor_limite_positivo/build/
/Parte 3 bucles/Calculadora_menu/nbproject/private/
/Parte 3 bucles/Calculadora_menu/build/
/Parte 3 bucles/Calculadora_menu/dist/
/Parte 3 bucles/dispositivo_RS232/nbproject/private/
/Parte 3 bucles/dispositivo_RS232/build/
/Parte 3 bucles/test/nbproject/private/
/Parte 3 bucles/test/build/
/Parte 3 bucles/Cuadrado_N_numeros/nbproject/private/
/Parte 3 bucles/Cuadrado_N_numeros/build/
/Parte 4/JavaApplication16/nbproject/private/
/Parte 4/JavaApplication16/build/
/Parte 4/vector_aleatorio_repetido/nbproject/private/
/Parte 4/vector_aleatorio_repetido/build/
/Parte 4/matriz_4x4_transpuesta/nbproject/private/
/Parte 4/matriz_4x4_transpuesta/build/
/Parte 4/matriz_antisimetrica/nbproject/private/
/Parte 4/matriz_antisimetrica/build/
/Parte 4/matriz_magica/nbproject/private/
/Parte 4/matriz_magica/build/
/POO_guia_ejercicios/Java_POO/nbproject/private/
/POO_guia_ejercicios/Java_POO/build/
/POO_guia_ejercicios/POO_Libros/nbproject/private/
/POO_guia_ejercicios/POO_Libros/build/
/POO_guia_ejercicios/Poo_Circuferencias/nbproject/private/
/POO_guia_ejercicios/Poo_Circuferencias/build/
/Parte 1/entero_doble_triple_cuadrado/dist/
/POO_guia_ejercicios/POO_operaciones/nbproject/private/
/POO_guia_ejercicios/POO_operaciones/build/
/POO_guia_ejercicios/POO_rectangulo/nbproject/private/
/POO_guia_ejercicios/POO_rectangulo/build/
/POO_guia_ejercicios/POO_banco/nbproject/private/
/POO_guia_ejercicios/POO_banco/build/
/POO_guia_ejercicios/POO_Nespresso/nbproject/private/
/POO_guia_ejercicios/POO_IMC/nbproject/private/
/POO_guia_ejercicios/prueba/nbproject/private/
/POO_guia_ejercicios/prueba/build/
/POO_guia_ejercicios/POO_IMC/build/
/POO_guia_ejercicios/POO_cadena/nbproject/private/
/POO_guia_ejercicios/POO_cadena/build/
/POO_guia_ejercicios/POO_cancion/nbproject/private/
/POO_guia_ejercicios/POO_matematica/nbproject/private/
/POO_guia_ejercicios/POO_matematica/build/
/POO_guia_ejercicios/Dos_arreglos/nbproject/private/
/POO_guia_ejercicios/Dos_arreglos/build/
/POO_guia_ejercicios/date_diferencia_entre_dos_fechas/nbproject/private/
/POO_guia_ejercicios/date_diferencia_entre_dos_fechas/build/
/POO_guia_ejercicios/POO_persona/nbproject/private/
/POO_guia_ejercicios/POO_persona/build/
/POO_guia_ejercicios/POO_clase/nbproject/private/
/POO_guia_ejercicios/POO_clase/build/
/POO_guia_ejercicios/POO_Moviles/nbproject/private/
/POO_guia_ejercicios/POO_cocina/nbproject/private/
/POO_guia_ejercicios/POO_cocina/build/
/POO_guia_ejercicios/POO_Cuenta/nbproject/private/
/POO_guia_ejercicios/POO_Cuenta/build/
/POO_guia_ejercicios/POO_empleado/nbproject/private/
/POO_guia_ejercicios/POO_empleado/build/
/POO_guia_ejercicios/POO_JuegoAdivinanza/nbproject/private/
/POO_guia_ejercicios/POO_JuegoAdivinanza/build/
/POO_guia_ejercicios/POO_raices/nbproject/private/
/POO_guia_ejercicios/POO_raices/build/
/POO_guia_ejercicios/POO_digitoVerificador/nbproject/private/
/POO_guia_ejercicios/POO_digitoVerificador/build/
/POO_guia_ejercicios/POO_mesSecreto/nbproject/private/
/POO_guia_ejercicios/POO_mesSecreto/build/
/POO_guia_ejercicios/POO_Ahorcado/nbproject/private/